<h1>{{ 'fetch_data.title' | translate:lang }}</h1>

<p>{{ 'fetch_data.subtitle' | translate:lang }}</p>

<p *ngIf="!forecasts"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="forecasts">
  <thead>
    <tr>
      <th>{{ 'Date' | translate:lang }}</th>
      <th>{{ 'Temp_C' | translate:lang }}</th>
      <th>{{ 'Temp_F' | translate:lang }}</th>
      <th>{{ 'Summary' | translate:lang }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td>{{ forecast.dateFormatted }}</td>
      <td>{{ forecast.temperatureC }}</td>
      <td>{{ forecast.temperatureF }}</td>
      <td>{{ forecast.summary }}</td>
    </tr>
  </tbody>
</table>
